{{> menu id="about"}}

<section class="ui center aligned middle aligned segment" id="about">
  <h2 id="aboutmainheader">
    The movie manager app team: 
  </h2>

  <div class="ui blue centered cards">
    {{#each developers}}
      {{> card}}
    {{/ each}}
  </div>
  <h2 class="ui header">

<div class="ui segment" id="aboutpagegrid">
  <div class="ui two column very relaxed grid">
    <div class="column"><img class="ui big image" src="https://cdn.glitch.global/bb33db59-538c-4434-8b53-c8551e5d1e50/waterfordmap.png?v=1651413859816"></div>
    <div class="column">
      <header class="ui red header" id="contactdetailsheader">Contact Details</header>
      <br>
      <p class="contactdetails">Mail: cbbabbage@hotmail.com</p>
      <p class="contactdetails">Instagram: MovieManagerApp22</p>
      <p class="contactdetails">Facebook: MMA22</p>
      <p class="contactdetails">Twitter: MovieManagApp</p>
    </div>
  </div>
  <div class="ui vertical divider">
    
  </div>
</div>
</h2>
</section>