{{> menu id="dashboard"}}

<section class="ui segment" id="dashboardsection">
  <header class="ui centered header" id="dashboardpageheader">Your Movie Packs</header>
  {{> listpacks}}
  {{> addpack}}
</section>