{{> menu}}

<section class="ui center aligned middle aligned segment" id="packpagesection">
  <h2 class="ui header" id="packtitle">
    {{capitalise pack.title}}
  </h2>
  {{> listmovies}}
  {{> addmovie}}
</section>