{{> menu}}

<section class="ui two column grid segment" id="mainpagesection">
  <div class="ui column">
    <h2 class="ui header" id="mainpageheader">
  Welcome to the Movie Manager App, {{fullname}}!
</h2>
      <p id="startpageparagraph">
        This app will allow you to create and maintain your personal collection of movies.
      </p>
    <br>
    <br>
    <br>
       <div class="buttons">
              <button class="ui inverted blue button">
                Read more <i class="arrow circle right icon"></i>
              </button>
         
              <button class="ui inverted green button">
                Like it? <i class="thumbs up icon"></i>
              </button>
              <button class="ui inverted red button">
                Who are you? <i class="user icon"></i>
              </button>
            </div>

      <div id="readmore" class="ui message">
        <p id="readmorep">
          Over the coming months, we will continue to better this app, fix bugs and glitches to provide you with a smooth and responsive application.
        </p>  
      </div>
      <div id="welcomeuser" class="ui message" onclick="hideWelcome()"> </div>
    <div class="ui divider"></div>
<div  id="twostatisticsdisplay">
<h3 class="ui center aligned header" id="header3startpage">The Movie Manager App now contains:</h3>

<div class="ui two statistics"  id="statisticsdisplay">
    <div class="ui huge statistic">
        <div class="value">
            {{totalPacks}}
        </div>
        <div class="label">
            Packs
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
    </div>
</div>
  </div>
  </div>
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/filmcover1.jpg?v=1647383283497">
      </div>
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/filmcover2.jpg?v=1647383384046">
      </div>
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/filmcover3.jpg?v=1647383475228">
      </div>
      <div class="ui eight wide column">
        <img class="ui medium circular image" src="https://cdn.glitch.global/acf69764-da86-45d1-8f3f-1634702e1751/filmcover4.jpg?v=1647383540533">
      </div>
    </div>
  </div>
</section>
